#about-section {
    background-color: $bg-color-secondary;
    padding: 50px 0 100px;

    @include xl {
        padding: 100px 0 200px;
    }
}

.about {
    @include xs {
        padding: 50px 0;
    }

    @include xl {
        max-width: 1250px;
    }

    .about-container {

        @include lg {
            display: flex;
        }

        p {
            margin: 20px 0;
            line-height: 1.8;
        }

        .about-sec {
            @include lg {
                width: 50%;
            }

            .family-photo {
                width: 100%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }

            #check { 
                display: none !important;
            }

            #check:checked ~ .more-content {
                display: block;
            }

            #check:checked ~ label {
                display: none;
            }

            .check {
                font-size: 1rem;
                @include lg {
                    font-size: 1.2rem;
                }
            }

            .more-content {
                display: none;
            }











        }

        .skills-sec {
            h3 {
                padding-bottom: 22px;
            }

            @include lg {
                width: 50%;
            }

            .skills-container {
                margin: auto;

                @include sm {
                    width: 300px;
                }

                .skills-list {

                    .skill {
                        display: inline-block;
                        font-size: 1.8rem;
                        color: $primary-color-light;
                        background-color: $primary-color;
                        border-radius: 5px;
                        text-align: center;
                        padding: 5px;
                        margin: 3px;
                    }
                }
            }
        }
    }
}





// .image-blend {
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     background-image: url(bg.jpg), url(splash.jpg);
//     background-size: cover;
//     background-position: center;
//     background-blend-mode: screen;

// }

.test {
    @include xs {
        // 0px
        color: red;
    }

    @include sm {
        // 480px
        color: blue;
    }

    @include md {
        // 720px
        color: green;
    }

    @include lg {
        // 960px
        color: orange;
    }

    @include xl {
        // 1200px
        color: yellow;
    }
}