.contact {
    background-color: $bg-color-secondary;

    padding: 50px 0;



}

.contact-form {
    // background-color: red;
    display: flex;
    flex-direction: column;
    // width: 95vw;
    max-width: 600px;
    // margin: 0 auto;
    padding: 10px;
    border-radius: 5px;

    @include sm {
        margin: 0 auto;
    }
  

    .input-container {

        @include xs {
            width: 92%;
            margin: 0 0 10px;
        }

        @include md {
            width: 100%;
        }

   

        label {
            text-transform: uppercase;
            font-weight: 600;
            @include xl {
                font-size: 2.6rem;
            }
        }

        input,
        textarea {
            font-family: $main-font;
            width: 100%;
            padding: 10px;
            font-size: 1.4rem;
            letter-spacing: 1px;
            border-radius: 5px;
            border: none !important;
        }

        input::placeholder,
        textarea::placeholder {
            opacity: 0.5;
        }



        input[type="submit"] {
            background-color: $primary-color;
            color: $text-color-light;
            border: none;
            width: 100px;
            // padding: 10px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: $primary-color-medium;
        }
    }




}

.error-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(178, 175, 175);
    width: 400px;
    height: 300px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    h4 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.4rem;

    }

    .error-message-container {
        background-color: $bg-color;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;



        p {
            color: $primary-color-dark;

        }
      
    }
    .error-btn {
        background-color: $error-color;
    }

}

.test {
    @include xs {
        color: red;
    }

    @include sm {
        color: blue;
    }

    @include md {
        color: green;
    }

    @include lg {
        color: orange;
    }

    @include xl {
        color: yellow;
    }
}