#header {
    margin-top: 60px;
    // padding-top: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 254, 0.95) 0%, rgba(249, 249, 248, 0.85) 100%), url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.header {

    @include xs {
        display: flex;
        flex-direction: column;
    }

    @include sm {
        display: flex;
        flex-direction: column;
    }

    @include xl {
        max-width: 1250px;
    }

    .header-container {
        @include lg {
            display: flex;
            justify-content: space-around;
        }

        @include xl {
            width: 100%;
        }

        // Greeting Div header-content
        div:nth-child(2) {
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include xs {
                text-align: center;
            }

            @include lg {
                text-align: left;
                margin: 250px 0 50px 0;
            }

            @include xl {
                width: 1000px;
                justify-content: end;
                padding-bottom: 150px;
            }

            .contact-btn {
                width: 100%;
                text-align: center;
            }

            .greeting {
                text-align: center;
                position: relative;
                color: $primary-color;

                @include xs {
                    font-size: 6rem;
                    letter-spacing: 2px;
                }

                @include sm {
                    font-size: 8rem;
                    letter-spacing: 4px;
                }

                @include lg {
                    font-size: 6rem;
                    letter-spacing: 8px;
                }

                @include xl {
                    font-size: 9.5rem;
                    letter-spacing: 8px;
                }
            }

            .webdev {
                letter-spacing: 0.5px;
                white-space: nowrap;
                font-family: $accent-font;
                font-size: 3rem;
                background: -webkit-linear-gradient($primary-color, $primary-color-dark);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: font-size 0.3s;
            }

            .greeting-message {
                @include xs {
                    font-size: 1.6rem;
                }

                @include xl {
                    font-size: 2rem;
                }
            }

            .contact-btn-container {
                margin-top: 20px;
            }
        }

        // image div
        .logo-container:nth-child(1) {
            text-align: center;

            @include lg {
                order: 2;
            }

            @include xl {
                width: 50%;
                text-align: right;
            }

            img {

                @include xs {
                    margin: 10px 0 0 0;
                    width: 70vw;
                }

                @include sm {
                    width: 300px;
                }

                @include md {
                    width: 350px;

                }

                @include lg {
                    width: 300px;
                    margin: 30px 0 0 0;
                }

                @include xl {
                    width: 450px;
                    margin: 75px 0 0 0;
                }
            }
        }
    }
}



.test {
    @include xs {
        // 0px
        color: red;
    }

    @include sm {
        // 480px
        color: blue;
    }

    @include md {
        // 720px
        color: green;
    }

    @include lg {
        // 960px
        color: orange;
    }

    @include xl {
        // 1200px
        color: yellow;
    }
}