.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    .nav-container {
        background-color: $primary-color;
        color: $primary-color-light;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        width: 100%;
        transition: top 0.3s;
        position: fixed;
        top: 0;
        height: 90px;
        padding: 0 10px;

        .logo-container {
            display: flex;
            justify-content: center;
            width: 300px;
           

            .brand-name {
                font-weight: 600;

                @include xs {
                    // 0px
                    font-size: 8vw;
                }

                @include sm {
                    // 0px
                    font-size: 2.4rem;
                }

                @include lg {
                    // 960px
                    font-size: 2.6rem;
                }
            }
        }

        .nav-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;

            @include md {
                // 720px
                font-size: 1.6rem;
            }
        }

        .hamburger {
            @include lg {
                // 720px
                width: 300px;
            }

        }
    }

}


@media screen and (max-width: 960px) {

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: $primary-color-light;

        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 90px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: $primary-color;
        padding: 10px;
    }

    .nav-list.active {
        left: 0;
    }

    .nav-list li {
        margin: 16px 0;
    }
}

.test {
    @include xs {
        // 0px
        color: red;
    }

    @include sm {
        // 480px
        color: blue;
    }

    @include md {
        // 720px
        color: green;
    }

    @include lg {
        // 960px
        color: orange;
    }

    @include xl {
        // 1200px
        color: yellow;
    }
}