.projects {
    padding: 50px 0;

    .projects-container {
        @include lg {
            display: flex;
            flex-direction: column;
        }

        .project-article:nth-child(2) .project-img {
            order: 2;
            text-align: right;
        }

        .project-article:nth-child(2) .project-info {
            text-align: left;
        }

        .project-info {
            text-align: right;
        }


        .project-article {
            @include xs {
                margin: 0 0 50px 0;
            }

            @include lg {
                padding: 30px 0;

            }

            h3 {
                @include lg {
                    margin-bottom: 30px;
                }
            }

            .project-article-container {
                @include lg {
                    display: flex;

                }

                .project-img {

                    img {
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

                        @include xs {
                            width: 100%;
                            margin: 10px 0;
                        }

                        @include xl {
                            max-width: 600px;

                        }
                    }
                }

                .project-info {
                    @include lg {
                        width: 50%;
                        padding: 0 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 360px;
                    }
                    @include xl {
                        padding: 0 60px;
                    }

                    .project-description {
                        @include xs {
                            padding-bottom: 20px;
                        }

                        @include lg {
                            max-width: 400px;
                        }




                        p {
                            @include xs {
                                line-height: 1.8;
                            }

                            @include lg {
                                padding-top: 30px;
                            }
                        }
                    }

                    .project-links {
                        @include xs {
                            display: flex;
                            justify-content: space-around;

                            a {
                                width: 120px;
                            }
                        }

                        @include sm {
                            a {
                                width: 160px;
                                font-size: 1.6rem;
                            }
                        }

                        @include lg {
                            max-width: 400px;
                        }



                        // @include lg {
                        //     a {
                        //         max-width: 200px;
                        //     }
                        // }
                    }
                }

            }


        }
    }
}

.test {
    @include xs {
        color: red;
    }

    @include sm {
        color: blue;
    }

    @include md {
        color: green;
    }

    @include lg {
        color: orange;
    }

    @include xl {
        color: yellow;
    }
}