$primary-color-dark:   #001117; 
$primary-color:        #0084b4; 
$primary-color-medium: #004a66;
$primary-color-light:  #F0FFFF; 

$bg-color: #F9F6EE;
$bg-color-secondary: #EDEADE;

$text-color-dark:   #212121;
$text-color-light: #EBEBEB;

$accent-color:         #EAB464; 
$shadow-color:         #151828; 
$error-color:          #FF0000; 



// $main-font:  'Ubuntu', sans-serif;
$mont-font: 'Montserrat', sans-serif;
$header-font: 'Oswald', sans-serif;
$main-font: 'Montserrat', sans-serif;
$brand-font: 'Shadows Into Light', cursive;
$accent-font: 'Caprasimo', cursive;
$spacing: 15px;
$border-width: 1px;
// $brand-font: 'Shadows Into Light', cursive;
$animate-time: 0.5s;
$animate-time-delay: 0.8s;
$animate-time-delay-extra: 1s;


/* SPACING  */
/* 1em = 16px */
//^ BREAKPOINTS
$spacing-sm: 37.5em;
$spacing-md: 48em;
$spacing-lg: 64em;
$spacing-xl: 75em;

/* CURSOR COLORS */
// $cursor-color-1:#ffb56b;
// $cursor-color-2:#fdaf69;
// $cursor-color-3:#f89d63;
// $cursor-color-4:#f59761;
// $cursor-color-5:#ef865e;
// $cursor-color-6:#ec805d;
// $cursor-color-7:#e36e5c;
// $cursor-color-8:#df685c;
// $cursor-color-9:#d5585c;
// $cursor-color-10:#d1525c;
// $cursor-color-11:#c5415d;
// $cursor-color-12:#c03b5d;
// $cursor-color-13:#b22c5e;
// $cursor-color-14:#ac265e;
// $cursor-color-15:#9c155f;
// $cursor-color-16:#950f5f;
// $cursor-color-17:#830060;
// $cursor-color-18:#7c0060;
// $cursor-color-19:#680060;
// $cursor-color-20:#60005f;
// $cursor-color-21:#48005f;
// $cursor-color-22:#3d005e;

