.home {
    display: flex;
    
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .home {
        flex-wrap: wrap-reverse;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .home {
        flex-wrap: wrap-reverse;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        background-color: $text-color-light;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .home {
        background-color: $text-color-light;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .home {
        background-color: black;
    }
}



