.home {
    display: flex;
    align-items: center;
    padding: 80px 0 150px;

    h1 {
        font-size: 8rem;
        text-align: center;
    }

    p {
        line-height: 1.6;
        text-align: justify;
        font-weight: 400;
    }

    span {
        font-style: oblique;
        letter-spacing: 1px;
        padding: 0 5px;
        font-family: $accent-font;
        font-size: 3.6rem;
        background: -webkit-linear-gradient($accent-color, $primary-color-dark);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }   

    img {
        max-width: 100%;
        height: auto;
    }
    // div the image is in will switch to first (top) position 
    @media (max-width: 990px) {
        div:nth-child(1) {
            order: 2;
        }

    }
   


}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .home {
        flex-direction: column;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .home {
        flex-direction: column;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 990px) {
    .home {
        flex-direction: column;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 990px) and (max-width: 1280px) {
    .home {
        flex-wrap: wrap-reverse;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .home {
        background-color: $text-color-light;
    }
}