.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    div {
        flex: 1;
        background-color: linear-gradient(to bottom, $brand-color-dark, $primary-color-light);
    }
}