nav {
    background-color: $primary-color-dark;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-color;
    color: $brand-color-dark;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;

    div {
        position: absolute;
        left: 50px;
        top: -45px;
        transform: translateX(-50%);

        img {
            width: 85px;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
            text-align: center;
            margin: $spacing;
            border-radius: 50px;
            width: 150px;
        }
    }
}