$primary-color-dark:   #535d61; // delft blue
$primary-color:        #0084b4; // silver lake blue
$primary-color-light:  #EDE6F2; // magnolia

$text-color-dark:   #212121; //  eerie black
$text-color-light: #EBEBEB; // anti-flash white

$accent-color:         #EAB464; // earth yellow
$shadow-color:         #151828; // raisin black
$error-color:          #FF0000; // red




$mont-font: 'Montserrat', sans-serif;
$header-font: 'Oswald', sans-serif;
$main-font:  'Ubuntu', sans-serif;
$brand-font: 'Shadows Into Light', cursive;
$accent-font: 'Caprasimo', cursive;
$spacing: 15px;
$border-width: 1px;
// $brand-font: 'Shadows Into Light', cursive;
$animate-time: 0.5s;
$animate-time-delay: 0.8s;
$animate-time-delay-extra: 1s;






/* SPACING  */
/* 1em = 16px */
//^ BREAKPOINTS
$spacing-sm: 37.5em;
$spacing-md: 48em;
$spacing-lg: 64em;
$spacing-xl: 75em;